html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
}

main {
  margin: auto;
  padding: 2rem;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

h1,
p {
  margin: 0.667rem 0;
}

h1 {
  font-size: 1.5rem;
  font-weight: normal;
}

a {
  color: #3b82f6;
  text-decoration: underline;
}

#view-secret {
  min-width: 0;
}

#secret-progress {
  width: 20rem;
  max-width: 100%;
}

#view-cashewkern-2 {
  /* applied by JavaScript */
  /* display: flex; */
  gap: 1rem;
}

#cashewkern-yes,
#cashewkern-no {
  display: block;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
