@import url("./three-dots.css");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
}

main {
  margin: auto;
  padding: 2rem;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

h1,
p {
  margin: 0.667rem 0;
}

h1 {
  font-size: 1.5rem;
  font-weight: normal;
}

.link {
  border: none;
  background-color: transparent;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;

  color: #3b82f6;
  text-decoration: underline;
  cursor: pointer;
}

.button {
  display: block;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

#view-secret {
  min-width: 0;
}

#secret-progress {
  width: 20rem;
  max-width: 100%;
}

#secret-credits {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

#secret-credits-inner {
  margin: 0 auto;
  padding: 2rem;
}

#view-cashewkern-2 {
  /* applied by JavaScript */
  /* display: flex; */
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

#view-vertretungsplan,
#view-speiseplan {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}

#vertretungsplan-back,
#speiseplan-back {
  position: absolute;
  left: 1rem;
  top: 1rem;
  z-index: 10;
}

#vertretungsplan-loading,
#speiseplan-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#vertretungsplan-loading-text,
#speiseplan-loading-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 75%;
  transform: translateY(-50%);
  display: flex;
}

#vertretungsplan-loading-text-inner,
#speiseplan-loading-text-inner {
  margin: 0 auto;
  padding: 2rem;
}

#vertretungsplan-iframe-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#vertretungsplan-iframe,
#speiseplan-iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}

#vertretungsplan-iframe {
  border: 3px solid black; /* matches the border in the middle of the iframe */
  min-width: 1504px; /* 16:9 */
  min-height: 846px;
}

#speiseplan-iframe {
  position: relative;
}
